<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<settings>
        <setting name="autoMappingUnknownColumnBehavior" value="FAILING"/>
    </settings>-->
    <typeAliases>
        <package name="com.yunrun.znbptapi.domain" />
        <package name="com.yunrun.znbptapi.query" />
    </typeAliases>
    <mappers>
        <mapper resource="mapper/ApiMapper.xml" />
    </mappers>
</configuration>